.descripcion_u4{
    width: 100%;
    height: 1200px;
    margin-top: 5%;
    background-image: url("/media/u4/u4bros.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0.7);
    padding: 2%;
}


.texto_u4{
    color: rgb(245, 245, 245);
    margin-left: 60%;
    margin-top: 16%;
    text-align: left;
    font-size: x-large;
}

.titulo_descr{
    font-size: xx-large;
    color: whitesmoke;
}

.critica{
    width: 100%;
    height: 1200px;
    padding: 2%;
    background-image: url("/media/u4/critica.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.datos_extra{
    width: 100%;
    height: 400px;
    margin-top: 2%;
    padding: 2%;
    background-image: url("/media/u4/fondou4.jpg");
    background-repeat: no-repeat;
    color: white;
}

.subtitulos_datos_extra{
    margin-top: 1%;
}

.text_datos_extra{
    color: rgb(245, 245, 245);
    margin-left: 1%;
    text-align: left;
}

.info_datos_extra{
    text-align: start;
    margin-top: -14%;
    margin-left: 40%;
}

.banner{
    width: 80%;
    height: 400px;
    margin-top: 2%;
    margin-left: 13%;
    padding: 2%;
    background-image: url("/media/u4/bannerucol.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
