.container {
    width: 40%;
    height: 300px;
    position: relative;
    margin: 0 auto 40px;
    border: 3px solid darkslateblue;
    background-color: slateblue;
    perspective: 1100px;
  }


  #carousel {
    width: 100%;
    height: 100%;
    position: absolute;
            transform-style: preserve-3d;
            transition: transform 20s;
  }


  #carousel figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 60%;
    left: 10px;
    top: 10px;
    border: 2px solid rgba(   0, 0, 0, 0.8 );
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
  }

  #carousel figure:nth-child(1) {
    transform: rotateY( 0deg ) translateZ( 288px );
}
#carousel figure:nth-child(2) {
    transform: rotateY( 40deg ) translateZ( 288px );
}
#carousel figure:nth-child(3) {
    transform: rotateY( 80deg ) translateZ( 288px );
}
#carousel figure:nth-child(4) {
    transform: rotateY( 120deg ) translateZ( 288px );
}
#carousel figure:nth-child(5) {
    transform: rotateY( 160deg ) translateZ( 288px );
}
#carousel figure:nth-child(6) {
    transform: rotateY( 200deg ) translateZ( 288px );
}


#carousel {
    animation: rotateInY 20s infinite linear;
}
@keyframes rotateInY {
0%   { transform: translateZ(-288px) rotateY(0deg);   }
100% { transform: translateZ(-288px) rotateY(360deg);    }
}

.titulo_carrou{
color: darkslateblue;
}