footer{
    height: 100%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0%;
    padding: 10px 20px; 
    background-color: darkslateblue;
    border: 0px rgba(71, 61, 139, 0.515);
}

.letras_footer{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.espacios{
    margin-left: 5%;
}