.p1_multi{
    padding: 2%;
    margin-left: 3%;
    width: 550px;
    color: white;
}

.p2_multi{
    padding: 2%;
    margin-left: 58%;
    margin-top: -11%;
    width: 550px;
    color: white;
}

