.titulos_standard{
    color: white;
    text-align: center;
    font-size: xxx-large;
}

.subtitulos_standard{
    color: white;
    text-align: center;
}

.subtitulo_nosotros{
    color: white;
    text-align: justify;
    margin-left: 5%;
    font-size: xx-large;
}

